#loggin {
    padding: 3px 25px;
    background-color: brown;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s; 
    cursor: pointer;
    margin-left: 40px;
    color: rgb(189, 178, 178);
    font-size: 23px;
    font-family:'Teko', sans-serif;
    text-shadow: 0.1em 0.1em 0.2em black;
    
    
    

    
    
    }
#loggin:hover {
    background-color: rgb(131, 28, 28);
    
}  
    